.custom-modal {
  position: absolute;
  top: -200%;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  overflow: auto;
  z-index: 40;
}

.custom-modal-content {
  width: 60%;
  height: 70vh;
  padding: 0 1rem;
  display: grid;
  place-items: center;
  place-content: center;
}

.close-btn {
  position: absolute;
  right: 220px;
  top: 5%;
  right: 20%;
  border-radius: 100%;
  width: 30px;
  height: 30px;
}

.show-modal {
  animation: modal_show forwards 1s;
}

.hide-modal {
  animation: hide_show forwards 1s;
}

@keyframes modal_show {
  to {
    opacity: 1;
    top: 0;
  }
}

@keyframes hide_show {
  to {
    opacity: 0;
    top: -200%;
  }
}

/* Small (sm) */
@media (max-width: 640px) {
  .custom-modal {
    align-items: flex-end;
  }

  .custom-modal-content {
    width: 100% !important;
    padding: 0;
  }

  .close-btn {
    top: 35%;
    right: 5%;
  }
}

/* Medium (md) */
@media (min-width: 640px) and (max-width: 1024px) {
  .custom-modal {
    align-items: flex-end;
  }

  .custom-modal-content {
    width: 100% !important;
    padding: 0;
  }

  .close-btn {
    top: 30%;
    right: 10%;
  }
}
