/* navbar */

.navbar {
  background: #ffffff;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12);
}

.mobile-navbar {
  display: none;
  position: absolute;
  z-index: 40;
  width: 100%;
}

.mobile-navbar-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.icon-form {
  width: 360px;
  background: #f2f2f2;
  border-radius: 21px;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #5c5c5c;
}

i {
  color: #5c5c5c;
}

.auth.content > label {
  font-weight: bold;
}

/* navbar */

/* intro content */

.intro {
  width: 100%;
  height: 440px;
  background-image: url("@/assets/img/intro-image.svg");
  background-repeat: no-repeat;
  background-blend-mode: color-burn;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  position: relative;
}

.intro-content {
  position: absolute;
  top: 320px;
  left: 200px;
}

.intro-content > h3 {
  font-weight: 900;
}

/* intro content */

.search-input {
  width: 360px;
  height: 42px;
}

.search-input > input {
  border-radius: 21px !important;
  padding: 0 2rem;
  margin: 0;
  width: 100% !important;
  font-size: 14px;
}

.search-input > i {
  left: 4%;
}

/* Small (sm) */
@media (max-width: 640px) {
  .mobile-navbar {
    display: block;
  }

  .navbar {
    display: none;
  }

  .intro-content {
    top: 80%;
    left: 5%;
  }
}

/* Medium (md) */
@media (min-width: 640px) and (max-width: 1024px) {
  .mobile-navbar {
    display: block;
  }

  .navbar {
    display: none;
  }

  .intro-content {
    top: 80%;
    left: 10%;
  }
}
