@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap");

body {
  font-family: "IBM Plex Sans", sans-serif;
}

button {
  border: none;
  outline: none;
}

img {
  width: 100%;
}

.btn-default {
  background: #edeef0;
}

.btn-icon {
  border: none;
  outline: none;
  padding: 1px;
  margin: 0.5px;
  background-color: transparent;
}

.layout-container {
  width: 100%;
  margin: auto;
  padding: 2rem;
}

.dropdown {
  position: relative;
  height: 30px;
  z-index: 40;
}

.dropdown-content {
  position: absolute;
  top: 30px;
  width: 160px;
  right: 0;
  background: #ffffff;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
}

.dropdown-content > .item {
  text-align: left;
  width: 100%;
}

.page-content {
  width: 692px;
}

.edit-panel {
  width: 30%;
  padding: 1rem 0;
}

.edit-panel-form {
  border-bottom: 0.4px solid #b8b8b8;
  background-color: transparent !important;
  width: 243px !important;
  border-radius: 0 !important;
}

.edit-panel-info {
  padding: 3rem 0;
  color: #000000;
}

.edit-panel-content {
  display: flex;
  flex-direction: row;
  opacity: 0.5;
}

.edit-panel-info p {
  line-height: 15px;
  font-size: 12px;
}

.toolbar-btn {
  margin: 1rem 0.5rem;
}

.toolbar-btn i {
  display: inline;
  margin: 0 0.4rem;
}

.auth-btn {
  border-color: gray;
  color: gray;
}

.auth-btn:hover {
  border-color: gray;
  color: gray;
  background-color: rgba(22, 8, 8, 0.1);
}

.copy-text {
  font-size: 11px;
  font-weight: 400;
  text-align: center;
}

.icon-form {
  position: relative;
  background: #f7f8fa;
  display: block;
}

.icon-form > i {
  position: absolute;
  top: 35%;
  right: 5%;
  display: grid;
  place-items: center;
  place-content: center;
}

.btn-outline-white {
  color: white;
  border-color: white;
}

.btn-outline-white:hover {
  background-color: rgba(0, 0, 0, 0.6);
  border-color: white;
  color: white;
}

.btn-outline-white:focus {
  box-shadow: none !important;
}

/* Small (sm) */
@media (max-width: 640px) {
  .edit-panel {
    display: none;
  }

  .layout-container {
    width: 100%;
    padding: 1rem 0;
  }

  .page-content {
    width: 100%;
  }
}

/* Medium (md) */
@media (min-width: 640px) and (max-width: 1024px) {
  .edit-panel {
    display: none;
  }

  .layout-container {
    width: 100%;
    padding: 1rem 0;
  }

  .page-content {
    width: 100%;
  }
}
